*{
    margin: 0;
    padding: 0;
}
.header-image{
    background-image: url('../new-year-new-me/images/banner/banner1.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header-text{
    text-align: right;
    width: 90%;
    position: absolute;
    margin-top:166px;
    font-size: 30px;
}
.header-btn{
    border: 0;
    padding: 15px;
    background-color: orangered;
    color: white;
    border-radius:4px;
    font-size: 16px;
    
}
.details-container{
     display: flex;
     justify-content: center;
     justify-content: space-around;
     margin-top: 140px;
     align-items: center;
}

.details-text{
    font-size: 16px;
    margin: 10px;
}
h2{
    text-align: center;
}
.plan-section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;
}
h2{
    margin-top: 10%;
}
button{
    border: none;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    color: red;
    font-weight:700;
    font-weight: bolder;
    font-size: 20px;
}
.call-section{
    background-image: url('/new-year-new-me/images/gradient1.png'),url('/new-year-new-me/images/watch.png');
    background-repeat: no-repeat;
    background-position: center,center;
    position: relative;
    top: 135px;
    height: 400px;
    padding: 230px;
}
h3{
    font-size: 40px;
    color: white;
}
.call-details{
    position: absolute;
    top:40%;
    left:20%;
}
.footer-container{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

input{
    display: block;
    width: 325px;
    height: 64px;
    background: var(--Dark-01, #151414);
    color: white;
}
.footer-details{
    width: 20%;
    color: white;
    position: relative;
}
h4{
    color: white;
}